.container {
  max-width: 80%;
  padding: 10px;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-auto-rows: minmax(100px, auto);
}
.imgContainer {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.imgContainer:hover {
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}

.image {
  opacity: 0.8;
}
.image:hover {
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
