.container {
  max-width: 33%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
}
.imgContainer {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
